<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Listar Pagamento</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/cad-pagamento">

      <button type="button" class="btn btn-sm btn-outline-success">
        Cadastrar
      </button>
    </a>
  </div>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th scope="col">Data</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each pagamentos}}

    <tr>
      <th>{{id}}</th>
      <td>{{nome}}</td>
      <td>{{valor}}</td>
      <td>{{#formatDate createdAt}} {{/formatDate}}</td>
      <td>
        <a href="/vis-pagamento/{{id}}"><button type="button"
            class="btn btn-sm btn-outline-primary">VISUALIZAR</button></a>
        <a href="/edit-pagamento/{{id}}"><button type="button"
            class="btn btn-sm btn-outline-warning">EDITAR</button></a>
        <a href="/del-pagamento/{{id}}"><button type="button" class="btn btn-sm btn-outline-danger">APAGAR</button>
      </td>
    </tr>

    {{/each}}

  </tbody>
</table>